*{
    margin:0px;
    border:border-box;
    font-family: Arial;
}

/* Hero-section */

.hero-section{
    height:800px;
    background-image:url("hero-image.png")
    
}

/* navbar */
.navbar{
    height: 50px;
    width: 1070px;
    display: flex;
    align-items: center;

/* nav1 */
.nav1{
    display: flex;
    width:340px;
    margin-left:16px;
}
    


}

.nav-logo{

   margin-left:16px;
    height:40px;
    width:150px;
    
    
}
.logo{
     
       height:40px;
       width:100%;
       background-image:url(logo2.png);
       background-size:cover;
}

/* nav2 */

.lang{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height:30px;
    width: 125px;
    border:0.5px solid white;
    color:white;

}
.lang i{
    font-size:1.5rem;
}