*{
    margin:0px;
    border:border-box;
    font-family: Arial;
}

/* Hero-section */

.hero-section{
    height:800px;
    background-image:url("hero-image.png")
    
}

/* navbar */
.header{
      margin-top:90px;
      height:250px;
      width:1150px;
      
        
      
}
.navbar{
    height: 50px;
    width: 1000px;
    display: flex;
    align-items: center;
    margin:0px 70px 0px 70px;
   

/* nav1 */
.nav1{
    display: flex;
    width:340px;
    margin-left:16px;
}
    


}

.nav-logo{

    height:40px;
    width:150px;
    
    
}
.logo{
     
       height:40px;
       width:100%;
       background-image:url(logo2.png);
       background-size:cover;
}

/* nav2 */

.nav2{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:720px;
    height:30px;
 
}
.lang{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height:30px;
    width: 125px;
    border:0.2px solid white;
    color:white;
    border-radius:4px;

  

}
.lang select{
    background-color: transparent;
    border:none;
    color:white;
}
.lang i{
    font-size:1.5rem;
}

.signin button{
    height:30px;
    width:75px;
    background-color: red;
    color:white;
    border:none;
    border-radius:4px;
    margin-left:16px;
}